// MARGINS

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

// COLORS

.u-text-warning {
  color: red !important;
}

// BACKGROUNDS
.u-selected-background {
  background-color: blue !important;
}

// GRID LAYOUT

.u-col-full {
  grid-column: 1 / -1 !important;
}

.u-col-1-of-2 {
  grid-column: 1 / 2 !important;
}

.u-col-2-of-2 {
  grid-column: 2 / 3 !important;

  @include respond(phone) {
    grid-column: 1 / 2 !important;
  }
}
